/* fonts  */
@font-face{
    src: url(fonts/static/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf);
    font-family: OpenSans;
}


/* styles.css */  
body {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #7289da; /* fall back if gradient does not load*/
    background: linear-gradient(
        to right,
        #7289da,
        #99aab5
    );
}

h1{
    font-family: "OpenSans", sans-serif;
    font-size: 2em
}

h2{
    font-family: "OpenSans";
    font-size: 1em
}